<div data-role="page">

	<div data-id="head" data-role="header" data-position="fixed" data-theme="a" style="height:41px;">
		<a href="<%= url_for :controller => :Tvshow %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">Back</a>
    <h1 id="heading">No Seasons</h1>
		<a href="<%= url_for :controller => :Tvshow, :action => :info, :query => { :tvshowid => @params['tvshowid']}%>" data-transition="flip" class="ui-btn-right" data-rel="dialog" data-icon="info">
			Info
		</a>
	</div>

	<script>
		function refresh() {
			$.get("<%= url_for(:action => :update_season_list) %>");
		}
		function getSeasonThumb(seasonid, tvshowid) {
			$.post("<%= url_for(:action => :get_season_thumb) %>", {'seasonid':seasonid, 'tvshowid':tvshowid});
		}
		
		function updateSeasonList(seasons) {
			if (seasons !== null) {
				document.getElementById('heading').innerHTML = seasons[0].showtitle;
				var slist = document.getElementById('seasons_list');
				slist.innerHTML = "";
				for (season in seasons) {
					var newLi = document.createElement('li');
					newLi.id = 'seasonlist_'+ seasons[season].xlib_id;
					code = "<a href=\"" + seasons[season].url + "\"><img id=\"seasonimg_"+seasons[season].xlib_id+"\"";
					if (seasons[season].l_thumb) {
						code += "src='" + seasons[season].l_thumb + "'";
					} else {
						code += "src=\"/public/images/missing_thumb.png\"";
						getSeasonThumb(seasons[season].xlib_id, seasons[season].tvshow_id);
					}
					code += "/>" + seasons[season].label + "</a>";
					newLi.innerHTML = code;
					slist.appendChild(newLi);
					
				}
				$(slist).listview('refresh');
				$.fixedToolbars.show(true);
			} 
		}
		
		function addSeasonThumb(seasonid, filename) {
			document.getElementById('seasonimg_'+seasonid).src = filename;
		}
		
		$(document).ready(function() {
			refresh();
		});
	</script>
	
  <div data-role="content">
		<div>
    		<ul data-role="listview" id="seasons_list">

    		</ul>
		</div>
  </div>

</div>
