<div data-role="page" data-add-back-btn="false">
	<div data-role="header" data-position="inline">
		<h3>Options</h3>
	</div>
	
	<script>
		function handleWatchLater(movieid) {
			var checked = document.getElementById("watch_later").checked;
			$.get("<%= url_for :action => :watch_later %>", {'movieid':movieid,'checked':checked});
		}
	</script>
  
	<div data-role="content">
		<div data-role="fieldcontain">
		<fieldset data-role="controlgroup">
		<input type="checkbox" name="watch_later" id="watch_later" onClick="handleWatchLater(<%= @movie.xlib_id %>)" <%= "checked=true" if @movie.watch_later? %>/><label for="watch_later">In Watch Later List</label>
		</fieldset>
		</div>
  </div>

</div>