<div data-role="page">

	<div data-role="header" data-position="fixed">
    <h1>More</h1>
	</div>

  <div data-role="content">
		
		<ul data-role="listview">
			<li><a href="#"><img id="centeredimage" src="/public/images/icons/folder.png" alt="Files" class="ui-li-icon"/>Files</a></li>
			<li><a href="#"><img id="centeredimage" src="/public/images/icons/tape.png" alt="Music" class="ui-li-icon"/>Music</a></li>
			<li><a href="<%= url_for(:controller => :Settings) %>" class="title" class="ui-li-icon">Settings</a></li>
			<li><a href="<%= url_for(:controller => :SpecRunner) %>" class="title" class="ui-li-icon">Run Tests</a></li>
		</ul>
  </div>

	<div data-role="footer" data-position="fixed" class="nav-cust">
		<div data-role="navbar" class="nav-cust" data-grid="d">
			<ul>
				<li><a href="<%= url_for :controller => :Controls %>" id="controls" data-icon="custom">Controls</a></li>
				<li><a href="#" id="movies" data-icon="custom">Movies</a></li>
				<li><a href="#" id="shows" data-icon="custom">TV Shows</a></li>
				<li><a href="#" id="playlist" data-icon="custom">Playlist</a></li>
				<li><a href="<%= url_for :controller => :More %>" id="more" data-icon="custom" class="ui-btn-active ui-state-persist">More</a></li>
			</ul>
		</div>
	</div>	
</div>
