<div data-role="page">

	<div data-id="head" data-role="header" data-position="inline" data-theme="a" style="height:41px;">
    <h1><%= @tvshow.title %></h1>
	</div>

  <div data-role="content">
    <p>
			<h3>Plot:</h3>
			<%= @tvshow.plot %>
		</p>
  </div>
</div>