<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

  <div data-role="header" data-position="inline" data-theme="a">
    <h1>RemoteApp</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="<%= url_for :controller => :XbmcConfig %>">XBMC Config</a></li>
    </ul>
  </div>

</div>
