<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Controls</h1>
    <a href="<%= url_for :controller => :XbmcConfig %>" class="ui-btn-right">
      Settings
    </a>
	</div>

  <div data-role="content">
    Test
  </div>
</div>