<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1>Buy Later List</h1>
    <a href="<%= url_for :action => :delete, :id => @product.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">Title</div>
            <div class="itemValue"><%= @product.title %></div>
          </li>
      
    </ul>
  </div>

</div>
